* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li > a {
    transition:0.2s;
    color: black;
}
li > a:hover {
    color: midnightblue;
}
.contact-buttons {
    position:absolute;
    right: 10px;
    top: 20px;
}
.contact-btn {
    cursor: pointer;
}
.contact-btn > a {
    text-decoration: none;
    color: black;
}

.contact-buttons > li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

body {
    font-family: "Patua One";
}

h1 {
    font-size: 92pt;
    font-family: "Patua One";
    margin-left: 100px;
    padding-top: 5px;
    margin-bottom: 20px;
}

h2,h3,h4 {
    font-family: "Patua One";

}

p {
    font-family: Lato;
    font-size: 1.2em;
}
.nav {
    background-color: #E3E0AF;
}

.hamburger {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 3px;
    display: block;
}

.link-no-show{
    text-decoration: none;
    color: black;
    text-align: center;
    flex: 1 0 0;
}

#helloMsg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
    border: black 3px solid;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    margin-top: 90px;
}

#helloMsg > h2 {
    font-size: 4rem;
}
#helloMsg>p {
margin-top: 50px;
margin-bottom: 50px;
}

#welcome{
    display: flex;
}

#welcome-note{

    padding: 30px;
    margin: 30px;
    margin-left: 70px;

    background-color:#E8E16D;
}

#folder-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#folder{
    flex: 2 0 0;
    height: 614px;
    margin-left:70px;
    margin-right:70px;
}

#folderTabs{
    margin-top: 100px;
    padding-left: 10px;
}

#folderTabs:hover{
    cursor: pointer;
}

#folderTabs li{
    font-family: "Patua One";
    padding: 15px;
    display: inline;
    background-color: #E3E0AF;
    text-decoration: none;
    position: relative;
    top: 15px;
    border-radius: 15px;
    z-index: 0;
}

#folderBody{
    position:relative;
    background-color: #E3E0AF;
    border-radius: 15px;
    height: 600px;
    align-content: bottom;
    z-index: 5;
}


.button-flex{
    display: flex;
}

.contact-btn {
    font-family: Patua One;
    border: 2px solid black;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex: 1 0 0;
}

.contact-btn:hover {
    background-color: #E3E0AF;
    transition: 0.3s;
}

#aboutFlex{
    display: flex;
    background-color: #E3E0AF;
    border-radius: 15px;
    height: 100%;
    margin-right: 130px;
    margin-left: 100px;
    align-content: bottom;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}


#aboutText {
    flex: 1 0 0;
}

#switchBG {
    position: relative;
    top: 200px;
    margin-top: 40px;
    background-color: midnightblue;
    height: 100%;
    color: lightblue;
    z-index: -1;
}


/* MODAL */
.modalContentWrapper{
    padding: 20px;
}

.modal-pic {
    width: 80%;
    display: block;

    margin: 20px auto;
}

/* CSS PICS */

#imagedisplay{
    height: 400;
    width: 500;
}

#divImg img{
    display: block;
    margin: auto;
    margin-top: auto;
   
}

#headshot {
    display: block;
    margin: 30px auto;
    width: 50%;
    border-radius: 10px;
}
/*Portfolio Items*/


.portfolio-content-wrapper{
    display:flex;

}

.portfolio-content{
    flex: 1 0 0;
    list-style-type:none;
    position:relative;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 50px;
        transition: 0.2s;

}

.portfolio-content:hover{
    background-color: rgba(255,255,255,0.3);
    transition: 0.2s;
}


.portfolio-content>li{
    text-align: center;
}

.portfolio-content-image{
    display: block;
    padding: 5px;

}

.portfolio-content-about{
    margin-top: 10px;
    padding: 5px;
    font-family: "Patua One";
    background-color:rgba(255,255,255,0.0);
    border: 2px solid black;
}

.portfolio-content-link, .portfolio-content-source {
    transition: 0.2s;
    border: 2px solid black;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Patua One";
    padding-top: 5px;


}

.portfolio-content-link:hover,.portfolio-content-source:hover, .portfolio-content-about:hover{
    transition: 0.2s;
    background-color: white;
}
.portfolio-content-link > a,.portfolio-content-source > a, .modal-link > a {
    color: black;
    text-decoration: none;
}

.modal-link {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.iconpic {
    display: block;
    margin-bottom: 20px;
}

#coding-folder-content {
    display: none;
    transition: 0.3s;
}
#web-design-folder-content {
    display: none;
    transition: 0.3s;
    position: relative;
    z-index: 7;
    bottom: 600px;
}

#script-folder-content {
    position: relative;
    z-index: 7;
    display: none;
    bottom: 600px;
}

#misc-folder-content {
    position: relative;
    z-index: 7;
    display: none;
    bottom: 600px;
}


.lang-title{
    text-align: center;
    font-size: 3rem;
    padding: 30px 0;
    text-decoration: underline;
}

.lang-box{
    display: block;
    width: 50%;

    margin: 30px auto;
   
      
}

.lang-flex{
    display: flex;
    flex-wrap: wrap;
}

.lang-item {
    flex: 1 0 0;
    text-align: center;
    border: 2px solid lightblue;
    margin: 10px;
    padding: 5px;
    min-width: 250px;
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 870px) {

    #folderTabs > ul > li {
        padding-left: 10px;

        padding-bottom: 25px;
        padding-top: 10px;
        margin-left: 0px;
    }

    #helloMsg {

        width: 80%;
        padding: 10px;
        border: black 3px solid;
        border-radius: 3px;
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        margin-top: 90px;
    }

    .lang-item {
     
        margin: 10px;
        padding: 5px;
        
    }

    .lang-box{
        display: block;
        max-width: 90%;
        margin-left: 20%;    
    }

    .portfolio-content-link, .portfolio-content-source {
        transition: 0.2s;
        border: 2px solid black;
        text-decoration: none;
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Patua One";
        padding-top: 5px;
    }
}